<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body class="hold-transition sidebar-mini layout-fixed">
<header class="header">
    <th:block th:include="fragments/common/navbar"></th:block>
    <th:block th:include="fragments/common/sidebar"></th:block>
    <style>
        table{
            margin: 0 auto;
        }
    </style>
</header>
<div class="text-center">
    <h2>공지사항 작성하기</h2>
    <form   action="/board/insert" method="post" name="insert" id="insert">
        <table>
            <tbody>
            <tr>
                <th>글 제목</th>
                <td>
                    <input type="text" placeholder="제목입력" maxlength="90" id="title" name="title" required>
                </td>
            </tr>
            <tr>
                <th>글 내용</th>
                <td>
                    <textarea placeholder="내용입력" rows="8" cols="10" maxlength="800" id="content" name="content" required></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" class="submit success button" value="등록">
                    <a class="button" th:href="@{/board/list}">글 목록</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
<footer class="footer">
    <th:block th:include="fragments/common/footer"></th:block>
</footer>
</html>